<!DOCTYPE html>
<html>
<head>
  <title>Dashboardapp</title>
  <%= javascript_include_tag 'vendor/jquery' %>
  <%= javascript_include_tag 'foundation.min.js' %>
    <%= javascript_include_tag "vendor/modernizr" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<script>
$(document).foundation();

$(document).ready(function(){
$('.u_name').click(function(){
$('.user_sub_menu').toggle();
})
	
})
</script>